[submodule "src/external/kokkos"]
	path = src/external/kokkos
	url = git@github.com:kokkos/kokkos.git
[submodule "src/external/kokkos-kernels"]
	path = src/external/kokkos-kernels
	url = git@github.com:kokkos/kokkos-kernels.git
[submodule "src/external/toml11"]
	path = src/external/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "src/external/hdf5"]
	path = src/external/hdf5
	url = https://github.com/HDFGroup/hdf5.git
